<form action="" class="form" novalidate>
	<h3>login form</h3>
	<input type="text" placeholder="login name">
	<input type="password" placeholder="password">
	<div>
		<input type="submit" value="submit">
		<a ui-sref="main" id="mainLink">reg page</a>
	</div>
</form>
<style>
	.form {
		border: 1px #777 solid;
		width: 250px;
		margin: 10px auto;
		border-radius: 3px;
	}
	.form input {
		/*border-radius: 1px;*/
		display: block;
		margin: 20px auto;
		width: 200px;
	}
	.form div {
		margin: 10px 30px;
	}
	.form h3 {
		text-align: center;
	}
	.form div a:first-of-type {
		margin-right: 20px;
	}

</style>