<form action="" name="regForm" class="form" novalidate>
	<h3>registration form</h3>
	<input type="text" placeholder="login name" ng-model="$ctrl.user" name="user" ng-minlength="2"
           ng-maxlength="15" required>
	<div ng-messages="regForm.user.$error" style="color:maroon" role="alert">
    <div ng-message="required">You did not enter a field</div>
    <div ng-message="minlength">Your field is too short</div>
    <div ng-message="maxlength">Your field is too long</div>
  </div>
	<input type="email" placeholder="email" ng-model="$ctrl.email" name="email" required>
	<div ng-messages="regForm.email.$error" style="color:maroon" role="alert">
    <div ng-message="required">You did not enter an email</div>
  </div>
	<input type="password" placeholder="password" ng-model="$ctrl.pass" name="pass" ng-minlength="6"
           ng-maxlength="16" required>
	<div ng-messages="regForm.pass.$error" style="color:maroon" role="alert">
    <div ng-message="required">You did not enter a field</div>
    <div ng-message="minlength">Your field is too short</div>
    <div ng-message="maxlength">Your field is too long</div>
  </div>
	<input type="password" match-password="pass" placeholder="confirm pass" ng-model="checkPass" name="checkPass" ng-minlength="6"
           ng-maxlength="16" required>
	<div ng-messages="regForm.checkPass.$error" style="color:maroon" role="alert">
    <div ng-message="required">You did not enter a field</div>
    <div ng-message="minlength">Your field is too short</div>
    <div ng-message="maxlength">Your field is too long</div>
  </div>
	<div>
		<a ui-sref="login" id="loginLink">login page</a>
		<!-- <input type="submit" value="submit" ng-click="submit()"> -->
		<button
		ng-disabled="regForm.$pristine || regForm.user.$pristine || regForm.email.$pristine || regForm.pass.$pristine || regForm.user.$dirty && regForm.user.$invalid ||
		regForm.email.$dirty && regForm.email.$invalid ||
		regForm.pass.$dirty && regForm.pass.$invalid || regForm.pass.$valid != regForm.checkPass.$valid"
		ng-click="$ctrl.submit()">Submit</button>


	</div>
</form>
<style>
	.form {
		border: 1px #777 solid;
		width: 250px;
		margin: 10px auto;
		border-radius: 3px;
	}
	.form input {
		display: block;
		margin: 20px auto;
		width: 200px;
	}
	.form div {
		margin: 10px 13px;
	}
	.form h3 {
		text-align: center;
	}
	.form div a:first-of-type {
		margin-right: 20px;
	}

</style>