<form action="" name="regForm" class="form" novalidate>
	<h3>registration form</h3>
	<input type="text" placeholder="login name" ng-model="user" name="user" required>
	<span style="color:red" ng-show="regForm.user.$dirty && regForm.user.$invalid">
		<span ng-show="regForm.user.$error.required">Name is required.</span>
	</span>
	<input type="email" placeholder="email" ng-model="email" name="email" required>
	<span style="color:red" ng-show="regForm.email.$dirty && regForm.email.$invalid">
		<span ng-show="regForm.email.$error.required">Email is required.</span>
		<span ng-show="regForm.email.$error.email">Invalid email address.</span>
	</span>
	<input type="password" placeholder="password" ng-model="pass" name="pass" required>
	<span style="color:red" ng-show="regForm.pass.$dirty && regForm.pass.$invalid">
		<span ng-show="regForm.pass.$error.required">Pass is required.</span>
	</span>
	<input type="password" match-password="pass" placeholder="confirm pass" ng-model="checkPass" name="checkPass" required>
	<span style="color:red" ng-show="regForm.checkPass.$dirty && regForm.checkPass.$invalid">
		<span ng-show="regForm.checkPass.$error.required">Pass is required.</span>
	</span>
	<div>
		<a ui-sref="login" id="loginLink">login page</a>
		<!-- <input type="submit" value="submit" ng-click="submit()"> -->
		<button
		ng-disabled="regForm.$pristine || regForm.user.$dirty && regForm.user.$invalid ||
		regForm.email.$dirty && regForm.email.$invalid ||
		regForm.pass.$dirty && regForm.pass.$invalid || regForm.pass.$valid != regForm.checkPass.$valid"
		ng-click="submit()">Submit</button>
		{{userValue}}

	</div>
</form>
<style>
	.form {
		border: 1px #777 solid;
		width: 250px;
		margin: 10px auto;
		border-radius: 3px;
	}
	.form input {
		display: block;
		margin: 20px auto;
		width: 200px;
	}
	.form div {
		margin: 10px 30px;
	}
	.form h3 {
		text-align: center;
	}
	.form div a:first-of-type {
		margin-right: 20px;
	}

</style>